@font-face {
    font-family: 'Roboto Mono';
    src: url(./RobotoMono-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url(./RobotoMono-Regular.ttf);
    font-weight: 400;
}